/* Write a Sass file that assigns:

Margin left and right at 10px to body tags
Margin left and right at 15px to div tags
You must use a mixin */

@mixin margins {
    margin-left: 10px;
    margin-right: 10px;

}

body {
    @include margins;
}

div {
    @include margins;
    margin-left: 15px;
    margin-right: 15px;
}